
body{
margin-right: 2rem;
margin-left: 2rem;
background: url(../imagen/fondo1.jpg) ;
background-size: 100vw;
color: white;
}

header{
min-height:20vh ;
background: url(../imagen/top.png)no-repeat;
background-position: center center;
background-size: 100vw;
}

.btn-outline-dark{
background: none !important;
color: rgba(250,150,0,0.8);
}

#comm{width: 4rem;}
#redes{margin-top: 4rem;}
#ic:hover{
  background-color: black;
}

#botones:hover{
background-color: rgba(250,150,0,0.5);
}
#botones{
  background-color: rgba(225,135,0,9);
}
a:hover{
  text-decoration: none;
  color: white;

}
#boton{
  color: white;
}
